* {
  font-family: sans-serif;
  font-size: 17px;
}

textarea {
  width: 800px;
  height: 400px;
}

div {
  border: 1px solid grey;
  height: 30px;
  width: 800px;
}

.testcontainer {
  width: 400px;
  height: 400px;
  border-color: green;
  background-color: grey;
  color: white;
}

.checktextlengthmessage--error {
  color: red;
}
